ul li{
    padding:0;
}
#intro{
    background-image: url(images/home.jpg);
    background-size: cover;
}

#one{
    background-image: url(images/one.jpg);
    background-size: cover;
}

#two{
    background-image: url(images/two.jpg);
    background-size: cover;
}

#blog{
    background-image: url(images/three.jpg);
    background-size: cover;
}

#contact{
    background-image: url(images/contact.jpg);
    background-size: cover;
}
.white,.bold{
    color: white;
}

.maj{
    text-transform: uppercase;
}
.bold{
    font-weight: bold ;
}
.half{
    width: 50%;
}
.float-left{
    float: left;
    padding: 1em;
}
.spacex{
    margin-top: 2em;
    margin-bottom: 2em;
}
#main{
    margin-bottom: 40px;
}

/*    Page Blog    */

.ref_page>.row>p:first-of-type, .blog_page p:first-of-type{
    text-align: center;
    font-size: 20px;
    vertical-align: top;
    opacity: 50%;
    text-transform: uppercase ;
    margin: 0;
}
.blog_page h1, .ref_page h1{
    text-align: center;
    font-size: 2.4em;
}
.blog_page>.row{
    margin: 40px;
}
.blog_page ul{
    padding: 0;
    list-style: none;
    text-align: center;
}

.blog_page ul>li, .blog_page form input{
    display: inline-block;
    box-sizing: border-box;
    margin: 4px;
    font-size: 15px;
    border-radius: 40px;
}
.blog_page form ul{
    padding: 0;
    margin: 0;
}
.blog_page form input[type=submit] {
    height: calc(2.75em + 2px);
    line-height: 2.75em;
    letter-spacing: 2px;
}

.blog_page ul>li>a.button{
    padding: 0 2.75em;
}
.card{
    position: relative;
    background-color: white;
    color: black;
    border-radius: 5px;
    margin: 10px;
    display: inline-block;
    width: calc(33% - 25px);
    padding: 0;
    cursor: pointer;
    transition: 0.2s;
    box-shadow: -9px 9px 10px 0px #48606b;

}
@media screen and (max-width: 1280px) {
    .card {
        width: calc(50% - 25px);
    }
}
@media screen and (max-width: 640px) {
    .card {
        width: calc(100% - 25px);
    }
}
.card:hover{
    transition: 0.2s;
    transform: translateY(-10px);
}
.card h2{
    font-size: 20px;
    color: black;
    padding: 0 5px 10px 5px;
    margin: 0;
}
a.card:hover p.card-text{
    color: black;
}
.card p.card-text{
    text-transform: unset;
    text-align: left;
    padding: 0 10px;
    font-size: 15px;
}
.card>img{
    margin: 0;
    width: 100%;
    height: auto;
}
.card>.card-body>.button{
    color: black!important;
    border: 1px solid black!important;
    margin: 18px 0 0 5px;
    font-size: 12px;
    line-height: 3.75em;
    height: calc(3.75em - 2px);
    padding: 0px 22px;
    display: inline-block;
    text-align: center;
    letter-spacing: 1px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    transition: 0.5s;
}
.card-body{
    padding: 10px 20px 20px;
}
.card>.card-body>.button:hover{
    color: white!important;
    border: 1px solid white!important;
    background-color: black;
    transition: 0.5s;

}
.blog_page .card>p{
    padding: 20px;
}

/* Graph correction */

.h-value, .percentage-value.visible{
    margin: 0;
}
.valueX{
    color: unset;
    font-weight: unset;
    line-height: unset;
}
.search{
    position: relative;
}
.search:before{
    content: url(../../images/search.svg);
    position: absolute;
    width: 20px;
    height: 20px;
    top: 9px;
    left: 35px;
}
.search-ico{
    padding-left: 45px!important;
}
hr{
    margin: 0;
    border-bottom: 1px solid white;
}
p.category-tag, a.category-tag{
    text-align: left!important;
    font-size: 12px!important;
    color: grey!important;
    padding: 0!important;
    margin: 0!important;
}
a.category-tag{
    font-size: 18px!important;
}

p>img{
    width: 30%;
    float: left;
    margin: 0 10px;
}
.chapo{
    font-size: 21px;
    font-weight: bold;
}
.image.small{
    display: inline-block;
    margin: 0 0 2em 0;
    text-align: center;
    width: 100%;
}
.image.small>img{
    width: 50%;
    display: inline-block;
}

.card_ref{
    padding: 15px;
    border: 1px solid white;
}
.card_ref>img{
    width: 25%;
    height: auto;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 50%;
}
.card_ref>h2{
    display: inline-block;
    width: 70%;
    vertical-align: top;
    padding: 18px 15px;
    font-size: 17px;
}
.card_ref>p.hide_text{
    display: block;
    max-height: 150px;
    overflow: hidden;
    position: relative;
    font-size: 14px;
}
p.savoir_plus{
    margin: 0;
    text-align: right;
    padding: 0 30px;
    font-size: 14px;
    position: relative;
}
p.savoir_plus:after{
    content: url(../../images/right-arrow.svg);
    position: absolute;
    width: 17px;
    height: 17px;
    top: 4px;
    right: 3px;
    transition: all 0.1s ease;
}
.card_ref:hover p.savoir_plus:after{
    transform: translateX(5px);
}
.hider{
    display: block;
    width: 100%;
    height: 80%;
    position: absolute;
    top: 0;
    left: 0;
background: -moz-linear-gradient(top,  rgba(0,0,0,0) 54%, rgba(6,17,22,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 54%,rgba(6,17,22,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(0,0,0,0) 54%,rgba(6,17,22,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#061116',GradientType=0 ); /* IE6-9 */

}
.col-md-3-custom{
    flex: 0 0 calc(25% - 20px);
    margin: 0 10px;
    position: relative;
}
@media (max-width: 768px){
  .col-sm-12-custom{
    flex: 0 0 calc(100% - 20px);
    margin: 0 10px;
    position: relative;
}  
}
.chart{
    width: calc(100% - 20px);
    margin: 0 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.references_page article{
    margin: 0 100px;
}
.references_page article>h1{
    border-bottom: 2px solid #c605d0;
}
.references_page article>p{
    font-size: 15px;
}
.has_sub_menu{
    display: inline-block;
    position: relative;
}
.has_sub_menu{
    height: 30px;
    vertical-align: inherit;
    transition: all 0.1s ease;
    margin-right: 15px;
}
.has_sub_menu:after{
    content: url(../../images/down.svg);
    position: absolute;
    width: 10px;
    height: 10px;
    top: 2px;
    right: -15px;
    transition: all 0.1s ease;
}
.has_sub_menu:hover{
    height: 50px;
    vertical-align: baseline;
    transition: all 0.1s ease;
}

.has_sub_menu>ul.sub_menu{
    display: none;
    list-style: none;
    text-align: left;
    position: absolute;
    top: 0;
    background-color: white;
    color: black;
    margin: 51px 0;
    width: 190%;
    left: -45%;
    z-index: 1;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
}
.has_sub_menu:hover>ul.sub_menu, ul.sub_menu:hover{
    display: block;
}
ul.sub_menu > li a{
    color: grey!important;
}
ul.sub_menu > li a:hover{
    color: black!important;
}
<<<<<<< HEAD
.hamburger{
    display: none;
}

@media (max-width: 768px){
    nav{
        display: none;
    }
    #header > nav > ul > li, #header > nav > ul > li:first-child{
        margin-left: 1.5em;
        display: inline-block;
        width: 100%;
=======

@media (max-width: 768px){
    #header > nav > ul > li, #header > nav > ul > li:first-child{
        margin-left: 1.5em;
        display: inline-block;
        width: 90%;
>>>>>>> master
        height: auto;
    }
    .has_sub_menu>ul.sub_menu {
        display: none;
        list-style: none;
        text-align: left;
        position: absolute;
        top: 0;
        background-color: white;
        color: black;
<<<<<<< HEAD
        margin: 5% 0;
        width: 90%;
=======
        margin: 51px 0;
        width: 100%;
>>>>>>> master
        left: 0;
        z-index: 1;
        padding: 0 10px;
        border-radius: 5px;
        font-size: 18px
    }
    ul.sub_menu>li>a{
        height: 2em!important;
        line-height: 2em!important;
<<<<<<< HEAD

    }
    nav.active ul>li{
       text-align: left;
        margin: 0;
        padding: 0;
    }
    nav.active ul>li>a{
        font-size: 24px!important;
        height: 24px;
        padding: 40px 0;
    }
    nav.active{
        display: block;
        position: fixed;
        background-color: rgba(0,0,0,1);
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        z-index: 1;
        color: black!important;
        padding-top: 100px;
    }
    .hamburger{
        display: block;
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 1222;
    }
    .has_sub_menu:after {
        width: 20px;
        height: 20px;
        top: 50px;
        left: 54%;
        transition: all 0.1s ease;
    }
        .has_sub_menu>ul.sub_menu {
            top: 70px;
        }
        nav.active ul.sub_menu li>a{
            font-size: 14px!important;
            height: 24px!important;
            padding: 20px 5px!important;
        }
    li.has_sub_menu:after{
        display: none;
    }
    li.has_sub_menu>a:first-of-type{
        position: relative;
    }
        li.has_sub_menu>a:after{
            content: url(../../images/down.svg);
            position: absolute;
            width: 20px;
            height: 20px;
            top: 40px;
            right: -30px;
            transition: all 0.1s ease;
        }
    @media screen and (max-width: 480px){
        #header > nav > ul > li a {
            height: 3em;
            line-height: 3em;
        }
    }

=======
    }
>>>>>>> master
}